PORT=5000
MONGODB_URI=mongodb+srv://madalimadhuri08_db_user:mymadhuri08@cluster0.gyocbka.mongodb.net/planr?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000
